// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #4099FF;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

$dark: #0f1313;
$dark-box: #282f2f;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Elements
$pre-background: $dark;
$pre: $dark-invert;


$link: $primary;
$link-hover: lighten($link, 5);
$link-focus: darken($link, 5);
$link-active: darken($link, 5);
$link-focus-border: $grey-light;

// Dark Colors
$body-background-color: $grey-dark;
$text: $grey-light;

$background: $grey-darker;
$body-background-color: $black;
$body-color: $light;
$text: $light;

// This is the empty edge space around divs with .container.is-fluid
$gap: 100px;

// Import Bulma and Buefy styles

@import "_variables.scss";
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "_overrides.scss";

// These are hacks to fix an issue from the _variables.scss and _overrides.scss
// files that didn't transition smoothly to buefy 0.9 and/or bulma 0.9.0.
.input, .textarea, .taginput .taginput-container.is-focusable, .select select {
    color: black;
}
.button {
    color: $light;
}